<aside class="w-64 bg-white h-screen fixed shadow-md pt-16">
    <nav class="mt-6">
        <a href="/" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Inicio</a>
        <a href="/registro" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Registro de Espacio</a>
        <a href="/contacto" class="block py-2 px-4 text-gray-700 hover:bg-gray-200">Contáctanos</a>
    </nav>
</aside>