@layout({pageTitle: 'Hola'})

  <h2 class="text-2xl font-semibold mb-6">Registro de Espacio</h2>
  <p class="text-gray-600">Aquí irá el formulario para registrar un espacio de estacionamiento.</p>
@end